### Global
*.log
*.env
.env.*
.DS_Store
*.swp
__pycache__/
*.py[cod]
*.ipynb_checkpoints
.vscode/
*.pid
*.tar
*.bak
*.old
.idea/
*.iml
*.iws

### backend
backend/HELP.md
backend/target/
!backend/.mvn/wrapper/maven-wrapper.jar
!backend/**/src/main/**/target/
!backend/**/src/test/**/target/
backend/.apt_generated
backend/.classpath
backend/.factorypath
backend/.project
backend/.settings
backend/.springBeans
backend/.sts4-cache
backend/.idea
backend/.iws
backend/.iml
backend/.ipr
backend/.vscode/

### model_api
model_api/venv/
model_api/.venv/
model_api/*.sqlite3
model_api/*.pyc
model_api/.mypy_cache/
model_api/.pytest_cache/
model_api/model/  # large model files stored locally, not in git
